# NeonDB URL
DATABASE_URL=
# uncomment next line if you use Prisma <5.10
DATABASE_URL_UNPOOLED=

VERCEL_URL=

# Auth
JWT_SECRET_KEY=

# Axiom logging
NEXT_PUBLIC_AXIOM_DATASET=
NEXT_PUBLIC_AXIOM_TOKEN=